<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s344224mappe1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.S344224mappe1">
        <activity
            android:name=".SpillActivity"
            android:exported="true"
            android:configChanges="orientation|screenLayout" />
        <activity
            android:name=".FerdigSpillActivity"
            android:exported="true"
            android:configChanges="orientation|screenLayout" />
        <activity
            android:name=".PreferanserActivity"
            android:parentActivityName=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenLayout" />
        <activity
            android:name=".StatistikkActivity"
            android:parentActivityName=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenLayout" />
        <activity
            android:name=".StartSpillActivity"
            android:parentActivityName=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenLayout"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>