nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: #fafafa;
    border-radius: 0 0 10px 10px;
    
}

#logo {
    height: 30px;
}